/*==========|Geral|==========*/
* {
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
body {
  background: #f7f7f7;
  color:#141414;
}
p {
  color:#141414;
  font-size:16px;
}


/*Utilitario*/
.txt {
  text-align: center;
}
.subtitulo {
  margin-top:90px;
  font-size: 28px;
  color: #141414;
  text-align: center;
  margin-bottom: 20px;
}
.subtitulo:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: #4A9C97;
  margin: 5px auto;
}

/*==========|Header|==========*/
.header {
  padding:20px;
  background: #161616;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navegacao{
  gap: 45px;
  display: flex;
}
.navegacao li a{
  padding:40px 0;
  display: inline-block;
  color:#ebebeb;
  font-size:16px;
  position: relative;
}
.navegacao li a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: white;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.navegacao li a:hover {
  color:white;
}
.navegacao li a:hover:after {
  width: 100%;
}

/*==========|DropDown|==========*/
.dropDown li a {
  text-align: center;
  padding:0;
  margin:10px 15px 20px;
}

.navegacao ul {
  display: none;
  position:absolute;
  background: #161616;
  border-radius:4px;
  border:1px solid black;
}
.navegacao li:hover ul{
  display: block;
  position:absolute;
  top:101px;
}

/*==========|BANNER|==========*/
.banner {
  color:#f7f7f7;
  padding:55px 0px 55px 0px;
  border-top:4px solid #DC7313;
  border-bottom:4px solid #DC7313;
  background: #EA8E35;
  text-align: center;
}
.banner h1 {
  text-align: center;
  margin: 0 auto 20px;
  max-width:600px;
  font-size:36px;
}
.frase p {
  color: #ffffff;
  margin: 0 auto;
  max-width: 600px;
  font-style: italic;
  font-size:14px;
}
.frase p::after {
  content:"";
  display: block;
  width: 90px;
  height: 2px;
  background: #2c2c2c;
  margin:20px auto 15px auto;
}
.frase cite {
  display:block;
  margin-top:20px;
  font-style: normal;
}

/*==========|Conteúdo|==========*/
.container {
  max-width:920px;
  margin: 0 auto;
}
.article p{
  margin-bottom:40px;
}
.txt-article p {
  margin-bottom:20px;
}
.conteudo-txt {
  width:920px;
  margin: 30px auto;
}
.conteudo-img-txt {
  margin:0 auto;
  max-width:920px;
  display: flex;
  gap:30px;
}
.fonte small{
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 14px;
  border-radius:10px;
  color:#aaaaaa;
  margin-bottom: 10px;
}
.fonte small a{
  color:#aaaaaa;
}
.fonte small a:hover {
  text-decoration: underline;
}
.content-2 {
  margin-top: 150px;
  display:flex;
  gap:40px;
  justify-content: center;
}
.content-2 section {
  max-width: 600px;
}
.content-2 article h2 {
  text-align: left;
  font-size: 28px;
  color:#141414;
}
.content-2 section h2::after {
  content:'';
  display: block;
  height: 3px;
  width:90px;
  background: #4A9C97;
  margin:10px 0px;
}
.content-2 section p {
  margin-bottom:20px;
}
.content-2 section footer small {
  align-items: flex-start;
}

/*==========|Footer|==========*/
.footer-content {
  margin-top:100px;
  border-top:4px solid #DC7313;
  background: #141414;
  color:white;
  display:flex;
  justify-content: space-evenly;
  align-self: center;
  padding:50px;
}
.mapaSite {
  display:flex;
  gap:20px;
}
.footer-content h3 {
  margin-bottom:20px;
  font-size:28px;
  color: white;
}
.mapaSite-1 ul li a{
  display: inline-block;
  color:#3f3f3f;
  padding:10px 0px;
}
.mapaSite-1 ul li{
  margin:5px 0;
}
.mapaSite-1 ul li a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #aaaaaa;
  margin-top: 4px;
  transition: 0.3s;
}
.mapaSite-1 ul li a:hover:after {
  width: 100%;
}
.mapaSite-1 ul li a:hover{
  color:#aaaaaa;
}
.movimentos-mapa {
  margin-top:12px;
}
.movimentos-mapa ul li a {
  display: inline-block;
  color: #3f3f3f;
  padding:10px 0;
}
.movimentos-mapa h4{
  margin-bottom:20px;
  font-size: 18px;
  color:#141414;
}
.movimentos-mapa ul li a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #aaaaaa;
  margin-top: 4px;
  transition: 0.3s;
}
.movimentos-mapa ul li a:hover:after{
  width:100%;
}
.movimentos-mapa ul li a:hover {
  color:#aaaaaa;
}
.movimentos-mapa ul li {
  margin: 5px 0px;
}
.movimentos-mapa ul li:nth-child(1) {
  margin-top:42px;
}
.redesSociais ul{
  margin-top:50px;
  display: flex;
  gap:20px;
  align-items: center;
  justify-content: center;
}
.redesSociais ul li {
  padding:10px 10px 9px;
  border: #EA8E35 solid 4px;
  border-radius: 10px;
  transition:0.3s;
}
.redesSociais ul li:hover {
 border-radius: 2px;
 border:#00747C solid 4px;
}
.copy {
  text-align: center;
  background:#EA8E35;
  padding:25px;
}